/* 62.5% 1rem=10px */
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
} 

:root {
    --primary-color: rgb(243,243,243);
    --secondary-color: rgb(238,163,2);
    --main-background-color: var(--primary-color);
    --font-color-primary: rgb(0, 0, 0);
    --active-color: rgb(146,100,2);
    --focus-color: rgb(146,100,2);
    --screen-width: 76.8rem; 
    --font-size-base: 1.6rem;
    --font-size-large: 2rem;
    --font-size-h2: 2.2rem;
    --font-size-h4: 1.4rem;
    --font-size-h5: 1.2rem;
    --font-size-p: 1.5rem;
    --font-size-footer: 1.9rem;
    --space--xs: 0.5rem;
    --space--s: 1rem;
    --space--m: 1.5rem;
    --space--l: 2rem;
    --space--xl: 2.5rem;
    --space--xxl: 3rem;
}

body {
    font-family: 'Bitter', serif;
    background-color: var(--main-background-color);
    color: var(--font-color-primary);
    font-size:var(--font-size-base);
}

a:active {
    color: var(--active-color);
    border-bottom: 3px solid var(--active-color);
}

a:focus {
    border: 3px solid var(--focus-color);
}

.circle {
    font-size: 1.8rem;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    background-color: rgb(9, 196, 124);
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    border-style: solid;
    border-width: 0.1rem;
    } 

h1 {
    font-weight: bold;
    color: var(--font-color-primary);
    padding-right: var(--space--xs);
    padding-left: var(--space--xs);
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: bold;
    color: var(--font-color-primary);
    padding-right: var(--space--xs);
    padding-left: var(--space--xs);
}

h3 {
    font-size: var(--font-size-base);
}

h4 {
    font-size: var(--font-size-h4);
    font-weight: 300;
}

h5 {
    font-size: var(--font-size-h5);
    font-weight: 200;
}

p {
    font-size: var(--font-size-p);
    font-weight: 300;
}

.profile-image {
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
    padding: var(--space--xs);
}

.introduction__text {
    max-width: 39rem;
}

.circle--first {
    background-color: var(--secondary-color);
}

.circle--second {
    background-color: rgb(255,59,37);
}

.circle--third {
    background-color: rgb(128,216,218);
}


/* Mobile */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: var(--font-size-base);
    }

    .circle {
        font-size: 1.2rem;
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
    }

    .profile-image {
        width: 35rem;
        height: 35rem;
    }

    .circles__container {
        display:flex;
        justify-content: space-around;
        padding-bottom: var(--space--xs);
    }
}


/* Desktop and tablet */
@media only screen and (min-width: 769px) {
    main {
        display: flex;
        justify-content: center;
        padding-top: 14rem;
        padding-bottom: 18rem;
    }
        
    .section--introduction {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 7rem;
    }

    .profile-image {
        display: flex;
        order: 1;
        padding-right:3.5rem;
    }

    .columns {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}