/* 62.5%=10rem */
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
} 

header{
    display: flex;
    flex-direction: row;
    padding: 2rem 3rem 0rem 3rem; 
    
}

.header-title{
    padding-left: 1.5rem;
}

.header__left-side{
padding-top: 2rem;
}

.header-links{
    display: flex;
    justify-content: flex-end;
} 

.header-links--desktop{
    font-size: 1.6rem;
    display: inline-flex;
    justify-content: flex-end;
    width: 28.rem; 
    list-style-type: none;
    padding-bottom: 1rem;
}

.header__link1{
    padding-right: 1rem;
}

.header__link3{
    padding-left: 1rem;
}

.menu-icon{
    width: 2rem;
    height: 2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.2rem;
    padding-left: 4rem;

}

body{
    background-color:rgb(243,243,243);
}

footer{
    background-color:rgb(243,243,243);
}

.navigation {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
}

.header__left-side {
    font-size: 2rem;
    display:inline-flex;
    padding-top: 0.5rem;
}

.circle{
    font-size: 1.8rem;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    border-style: groove;
    } 

h1{
    font-weight: bold;
    color:rgb(0, 0, 0);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

h2{
    font-size: 2.2rem;
    font-weight: bold;
    color:rgb(0, 0, 0);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

h3{
    display: inline;
    font-size: 1.6rem;
}

h4{
    font-size: 1.4rem;
    font-weight: 300;
}

h5{
    font-size: 1.2rem;
    font-weight: 200;
}

.header-circle{
    background-color: rgb(238,163,2);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

p{
    font-size: 1.5rem;
    font-weight: 300;
}

.icon--instagram{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: flex-end;
}

.profile-image{
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.introduction__text{
    max-width: 39rem;
}

.circle{
    background-color: rgb(9, 196, 124);
    font-size: 1.8rem;
    font-weight: bold;
}

.circle--first{
    background-color: rgb(238,163,2);
}

.circle--second{
    background-color: rgb(255,59,37);
}

.circle--third{
    background-color: rgb(128,216,218);
}

.footer{
    font-size: 1.9rem;
}


/* Mobile */
@media only screen and (max-width: 76.8rem) {

    header{
    padding: 1rem 3rem 0rem 1rem;
}

.navigation{
    display: flex;
    justify-content: flex-start;
}

.header-links--desktop{
    display: none;
}

h1{
    font-size:1.6rem;
}

.circle{
    font-size: 1.2rem;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    border-style: groove;
}

.profile-image{
    width: 35rem;
    height: 35rem;
}

.circles__container{
    display:flex;
    justify-content: space-around;
    padding-bottom: 0.5rem;
}
}


/* Desktop and tablet */
@media only screen and (min-width: 76.9rem) {
.header-links{
    display: flex;
    justify-content: flex-end;
    padding-left: 127rem;
} 

    .menu-icon{
    display: none;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 14rem;
    padding-bottom: 18rem;
}
    
.introduction-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 7rem;
}

.circle{
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    border-style: groove;
}

.profile-image{
    display: flex;
    order: 1;
    width: 45rem;
    height: 45rem;
    padding-right:3.5rem;
}

.columns{
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 7rem 4.5rem 4rem;
}

footer{
    padding-top: 0.6rem;
    padding-bottom: 2rem;
}
}