/* 62.5% 1rem=10px */
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
} 

:root {
    --primary-color: rgb(243,243,243);
    --secondary-color: rgb(238,163,2);
    --main-background-color: var(--primary-color);
    --font-color-primary: rgb(0, 0, 0);
    --active-color: rgb(146,100,2);
    --focus-color: rgb(146,100,2);
    --font-size-base: 1.6rem;
    --space--xs: 0.5rem;
    --space--s: 1rem;
    --space--m: 1.5rem;
    --space--l: 2rem;
    --space--xl: 2.5rem;
    --space--xxl: 3rem;
}

a:active {
    color: var(--active-color);
    border-bottom: 3px solid var(--active-color);
}

a:focus {
    border: 3px solid var(--focus-color);
}

header{
    display: flex;
    flex-direction: row;
    padding-top: var(--space--l); 
    padding-right: var(--space--xxl);
    padding-left: var(--space--xxl); 
    
}

.header-title{
    padding-left: var(--space--m);
}

.header--left-side{
padding-top: var(--space--l);
}

.header-links{
    display: flex;
    justify-content: flex-end;
} 

.header-links--desktop{
    font-size: var(--font-size-base);
    display: inline-flex;
    justify-content: flex-end;
    list-style-type: none;
    padding-bottom: var(--space--s);
}

.header__link--first{
    padding-right: var(--space--s);
}

.header__link--third{
    padding-left: var(--space--s);
}

.menu-icon{
    width: var(--space--l);
    height: var(--space--l);
    padding-top: 0.7rem;
    padding-bottom: 0.2rem;
    padding-left: 4rem;

}

body{
    background-color: var(--main-background-color);
    color: var(--font-color-primary);
    font-size:var(--font-size-base);
}

footer{
    background-color: var(--main-background-color);
}

.navigation {
    font-size: var(--space--l);
    display: flex;
    justify-content: space-between;
    padding-top: var(--space--xs);
}

.header--left-side {
    font-size: var(--space--l);
    display:inline-flex;
    padding-top: var(--space--xs);
}

h1{
    font-size: 1.9rem;
    font-weight: bold;
    color: var(--font-color-primary);
}

h2{
    font-size: var(--space--m);
    font-weight: 300;
}

h3{
    display: inline;
    font-size: var(--font-size-base);
}

h4{
    font-size: 1.4rem;
    font-weight: 300;
}

h5{
    font-size: 1.2rem;
    font-weight: 200;
}

p{
    font-size: var(--space--m);
    font-weight: 300;
}

ul{
    font-size: var(--space--m);
}

.header-circle{
    background-color: var(--secondary-color);
    width: var(--space--xl);
    height: var(--space--xl);
    border-radius: 50%;
}

.icon--instagram{
    width: var(--space--xxl);
    height: var(--space--xxl);
    display: flex;
    align-items: flex-end;
}

.footer{
    font-size: 1.9rem;
}


/* Mobile */
@media only screen and (max-width: 76.8rem) {

    header{
    padding: var(--space--s);
    padding-right: var(--space--xxl);
    padding-left: var(--space--s);
}

.navigation{
    display: flex;
    justify-content: flex-start;
}

.header-links--desktop{
    display: none;
}

.circle{
    font-size: 1.2rem;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}

h6{
    font-size: 2.2rem;
    font-weight: bold;
}
}


/* Desktop and tablet */
@media only screen and (min-width: 76.9rem) {
.header-links{
    display: flex;
    justify-content: flex-end;
    padding-left: 44rem;
} 

.navigation {
    font-size: var(--space--l);
    display: flex;
    justify-content: space-between;
    padding-top: var(--space--xs);
}

hr{
    width: 100%;
}

p{
    font-size: var(--space--m);
    font-weight: 300;
    
}

.menu-icon{
    display: none;
}
    
.section--experience{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.section__year__status{
    display: inline-flex;
    justify-content: flex-end;
    padding-right: 67rem;
}

.section--first--part{
    display: inline-flex;
    justify-content: space-between;
}

h1{
    padding-right: 60rem; 
    padding-left: 32rem;   
}

h2{
    padding-left: 117.2rem;
    padding-right: 32rem;
}

h6{
    font-size: var(--space--xxl);
    font-weight: 700;
    padding-left: 32rem;
}

p{
    padding-right: 1.5rem;
}

ul{
    padding-left: 87.2rem;
}

.section__ul{
    padding-left: 118rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding-top: 3.5rem;
    padding-right: 7rem; 
    padding-bottom: 4.5rem; 
    padding-left: 4rem;
}

footer{
    padding-top: 0.6rem;
    padding-bottom: var(--space--l);
}
}
