/* 62.5% 1rem=10px */
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
} 

:root {
    --primary-color: rgb(243,243,243);
    --secondary-color: rgb(238,163,2);
    --main-background-color: var(--primary-color);
    --font-color-primary: rgb(0, 0, 0);
    --active-color: rgb(146,100,2);
    --focus-color: rgb(146,100,2);
    --font-size-base: 1.6rem;
    --font-size-large: 2rem;
    --font-size-h1: 3rem;
    --font-size-h2: 1.9rem;
    --font-size-h4: 1.4rem;
    --font-size-h5: 1.2rem;
    --font-size-p-ul-time:1.5rem;
    --font-size-footer: 1.9rem;
    --space--xs: 0.5rem;
    --space--s: 1rem;
    --space--m: 1.5rem;
    --space--l: 2rem;
    --space--xl: 2.5rem;
    --space--xxl: 3rem;
}

a:active {
    color: var(--active-color);
    border-bottom: 3px solid var(--active-color);
}

a:focus {
    border: 3px solid var(--focus-color);
}

body {
    background-color: var(--main-background-color);
    color: var(--font-color-primary);
    font-size:var(--font-size-base);
}

.section--experience h2 {
    font-size: var(--font-size-h2);
    font-weight: bold;
    color: var(--font-color-primary);
}

p {
    font-size: var(--font-size-p-ul-time);
    font-weight: 300;
}

h3 {
    display: inline;
    font-size: var(--font-size-base);
}

h4 {
    font-size: var(--font-size-h4);
    font-weight: 300;
}

h5 {
    font-size: var(--font-size-h5);
    font-weight: 200;
}

time {
    font-size: var(--font-size-p-ul-time);
    font-weight: 300;
}

ul {
    font-size: var(--font-size-p-ul-time);
}

/* Mobile */
@media only screen and (max-width: 76.8rem) {
    h1 {
        font-size: 2.2rem;
        font-weight: bold;
    }

    time {
        display: block;
    }

}


/* Desktop and tablet */
@media only screen and (min-width: 76.9rem) {
    .section--experience h1 {
        display: block;
        width: 100%;
    }

    .section--experience__article,
    .section--experience h1 {
        max-width: 120rem;
        margin: auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .section--experience__article {
        display: flex;
        flex-direction: row;
    }

    .section--experience__article h2 {
        width: 60vw;
    }

    .section--experience--description {
        min-width: 40vw;
        padding-left: 60rem;
        padding-top: var(--space--m);
    }

    .section--experience--description p,
    .section--experience--description li {
        max-width: 34rem;
        
    }

    .section__ul {
        display: block;
        padding-left: 11rem;
    }

    .section--experience--description p {
        padding-left: 11rem;
    }

    ul.section--experience--description {
        padding-left: 73rem;
    }

    hr {
        width: 100%;
    }

    time {
        font-size: var(--font-size-p-ul-time);
        font-weight: 300;
        min-width: 11rem;
        display: inline-block;
        
    }
        
    .section--experience {
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
    }

    h1 {
        font-size: var(--font-size-h1);
        font-weight: 700;
        padding-top: 5rem;
        }
    
    .section--experience--description p:first-of-type {
        margin-bottom: 7rem;
    }
}
