/* 62.5% 1rem=10px */
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: rgb(243,243,243);
    --secondary-color: rgb(238,163,2);
    --main-background-color: var(--primary-color);
    --font-color-primary: rgb(0, 0, 0);
    --active-color: rgb(146,100,2);
    --focus-color: rgb(146,100,2);
    --font-size-base: 1.6rem;
    --font-size-large: 2rem;
    --font-size-h1: 3rem;
    --font-size-h2: 1.9rem;
    --font-size-h1-mobile: 2.7rem;
    --font-size-h1-desktop: 4.2rem;
    --font-size-h2-mobile: 2.2rem;
    --font-size-h2-desktop: 2.6rem;
    --space--xs: 0.5rem;
    --space--s: 1rem;
    --space--m: 1.5rem;
    --space--l: 2rem;
    --space--xl: 2.5rem;
    --space--xxl: 3rem;
    --font--weight--lighter: lighter;
    --font--weight--bold: bold;
}

a:active {
    color: var(--active-color);
    border-bottom: 3px solid var(--active-color);
}

a:focus {
    border: 3px solid var(--focus-color);
}

body {
    background-color: var(--main-background-color);
}


/* Mobile */
@media only screen and (max-width: 76.8rem) {

    body {
        padding-left: var(--space--xs);
        padding-right: var(--space--xs);
        /* display: flex;
        justify-content: center; */
    }

    .section--projects {
        max-width: 32rem;
        margin: auto;
    }

    h1 {
        font-size: var(--font-size-h1-mobile);
    }
    
    h2 {
        font-size: var(--font-size-h2-mobile);
    }

    p {
        font-size: var(--font-size-base);
    }

    .projects__pictures {
        width: 28rem ;
        height: auto ;
        padding-top: var(--space--l);
        padding-bottom: var(--space--l);;
    }

    .section--projects__article p {
        max-width: 28rem;
    }

}


/* Desktop and tablet */
@media only screen and (min-width: 76.9rem) {

    .section--projects__article {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5rem;
    }

    .section--projects__article,
    .section--projects h1 {
        max-width: 120rem;
        margin: auto;
    }

    .section--projects h1 {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    h1 {
        font-size: var(--font-size-h1-desktop);
    }

    h2 {
        font-size: var(--font-size-h2-desktop);
        padding-top: var(--space--xl);
    }

    p {
        font-size: var(--font-size-base);
        font-weight: var(--font--weight--lighter);
        max-width: 42.2rem;
    }

    .projects__pictures {
        width: 49.1rem;
        height: auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    main {
        padding-bottom: 6rem;
    }

}